<section>

    <!-- <div style="display: flex;">
        <div class="hero-section" id="home" style="width:50%">
            <div class="hero-bg"></div>
            <div class="hero-content">
                <div class="circle-container" style="width:50%">
                    <div #circle class="circle">
                        <img #profileImage src="../assets/img/profile.jpg" alt="Profile Image" class="profile-image" />
                    </div>
                </div>
                <div class="scroll-indicator">
                    <span>Scroll Down</span>
                    <div class="scroll-arrow"></div>
                </div>
            </div>

        </div> -->

        <div class="hero-section" id="home">
            <div class="hero-bg"></div>
            <div class="hero-content">
                <p class="hero-greeting">Hello, I'm</p>
                <h1 class="hero-title">
                    <span>S</span><span>i</span><span>t</span><span>a</span><span>k</span><span>a</span><span>n</span><span>t</span><span>a</span>
                    <span style="margin-left: 15px;"></span>
                    <span>N</span><span>a</span><span>y</span><span>a</span><span>k</span>
                </h1>
                <p class="hero-subtitle">Full Stack Developer</p>
                <button class="cta-button" (click)="scrollToContact()">Get in Touch</button>
            </div>
            <div class="scroll-indicator">
                <span>Scroll Down</span>
                <div class="scroll-arrow"></div>
            </div>
        </div>


</section>