<div class="app-container portfolio-container" #portfolioContainer>
	<canvas #backgroundCanvas class="background-canvas"></canvas>
	<app-header></app-header>
	<main>
		<app-hero></app-hero>
		<app-about id="about"></app-about>
		<app-experience id="experience"></app-experience>
		<app-skills id="skills"></app-skills>
		<app-projects id="projects"></app-projects>
		<app-contact id="contact"></app-contact>
	</main>
	<app-footer></app-footer>
	<div class="cursor-follower" #appMouseFollow></div>
	
	 <div class="cursor" #cursor>
		<div class="cursor-dot"></div>
		<div class="cursor-outline"></div>
	  </div>
</div>